<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(   src="js/audioPlayer.js")
        script(   src="js/renderWaveform.js")
    body
        h2= songData.title
        h2= songData.User.username
        p= url

        #player
            //- a#player__control.paused(href=''): img#play-pause(src="images/play.png")
            input#controls(type="image", src="images/play.png")
            audio#player__audio(src=url)
            
            p#current-time
            p#duration


            //- canvas goes here