extends templates/nav_logged-in
block page-specific-content
    section(id='latest' class="songCard__section")
        header
            h2 Hot Off The Studio
            p Check out our latest jams
            p Tailored for #{user.username}
        div(class='songCards')
            div(class='card')
                div(class='card__image')
                div(class='card__label')
                    div(class='card__label__album')
                    div(class='card__label__artist')

