extends templates/nav_logged-out
block page-specific-content
    h1 Welcome to NoiseWave!
    p The latest hits, updated all the time
    append body
        script
            include ../scripts/modal-popup.js
