h1 Users
if matchingUsers
    each user in matchingUsers
        div(title=`${user.username}` class='ajax-link')=user.username
        p
h1 Songs
if matchingSongs
    each song in matchingSongs
        div(title=`${song.songLocalPath}` class='ajax-link')=song.title
