h1 Users
if matchingUsers
    each user in matchingUsers
        div(title=`${user.username}` class='ajax-link')=user.username
        p
h1 Songs
if matchingSongsFull
    each song in matchingSongsFull
        div(title=`${song.User.username}/${song.songLocalPath}` class='ajax-link')=song.title
