extends templates/nav_logged-in
block page-specific-content
    h1 Users
        each user in matchingUsersArr
            p=user.username
    h1 Songs
        each song in matchingSongsArr
            p=song.title
