<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet" href="styles/navbar.css")
        link(rel="stylesheet" href="styles/modal-popup.css")
        link(rel="stylesheet" href="styles/simple-playbar.css")
        link(rel="stylesheet" href="styles/song-card.css")
        link(rel="stylesheet" href="styles/global.css")
        link(rel="stylesheet" href="styles/search.css")
        link(href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="/skin/blue.monday/css/jplayer.blue.monday.css" type="text/css")
        script(src="js/ajax.js")
        script(src="js/search.js")
        script(src="js/jquery.min.js" type='text/javascript')
        script(src="js/jquery.jplayer.min.js" type='text/javascript')
        //- script(src='js/load-jplayer.js' type='text/javascript')
        if user
            script(src="js/logout.js")
        else
            script(src="js/login.js")
            script(src="js/sign-up.js")

    body
        include nav.pug
        main#page-specific-content
            //- h1 Welcome to NoiseWave!
            //- p The latest hits, updated all the time
            //- div(id="cover")
            //-     form(class="navbar__col" id="searchbar" method="post" action="/search")
            //-         div(class="tb")
            //-             div(class="td")
            //-                 input(type="search" id="search" placeholder="Search" name="search")
            //-             div(class="td" id="s-cover")
            //-                 button(type="submit" value="Search" id='submit-search')
            //-                     div(id="s-circle")
            //-                     span
            a(href="/explore" class="ajax") Click Here to explore our songs
            br
            br
            //- User Template
            h2 User Page Template:
            br
            section(class='user-header')
                div(class='user-cover-image' style='background-image: url(https://i1.sndcdn.com/visuals-000000557633-UFhDc9-t2480x520.jpg)')
                    div(class='user-profile-image' style='background-image: url(https://i1.sndcdn.com/avatars-000330871676-7lnquw-t500x500.jpg)')
                div(class='user-name') Macklemore
            section(class='user-nav')
                button Uploads
                button Likes
            section(id='latest' class="songCard__section")
                section(class='songCards')
                    div(class='card')
                        div(class='card__image' style='background-image: url(https://i1.sndcdn.com/artworks-zf3rCoCkF4NN-0-t500x500.jpg)')
                        div(class='card__label')
                            div(class='card__label__album') Too Good to Say Goodbye
                            div(class='card__label__artist') Macklemore
                    div(class='card')
                        div(class='card__image' style='background-image: url(https://i1.sndcdn.com/artworks-zf3rCoCkF4NN-0-t500x500.jpg)')
                        div(class='card__label')
                            div(class='card__label__album') Too Good to Say Goodbye
                            div(class='card__label__artist') Macklemore
                    div(class='card')
                        div(class='card__image' style='background-image: url(https://i1.sndcdn.com/artworks-zf3rCoCkF4NN-0-t500x500.jpg)')
                        div(class='card__label')
                            div(class='card__label__album') Too Good to Say Goodbye
                            div(class='card__label__artist') Macklemore
                    div(class='card')
                        div(class='card__image' style='background-image: url(https://i1.sndcdn.com/artworks-zf3rCoCkF4NN-0-t500x500.jpg)')
                        div(class='card__label')
                            div(class='card__label__album') Too Good to Say Goodbye
                            div(class='card__label__artist') Macklemore
                    div(class='card')
                        div(class='card__image' style='background-image: url(https://i1.sndcdn.com/artworks-zf3rCoCkF4NN-0-t500x500.jpg)')
                        div(class='card__label')
                            div(class='card__label__album') Too Good to Say Goodbye
                            div(class='card__label__artist') Macklemore
                    div(class='card')
                        div(class='card__image' style='background-image: url(https://i1.sndcdn.com/artworks-zf3rCoCkF4NN-0-t500x500.jpg)')
                        div(class='card__label')
                            div(class='card__label__album') Too Good to Say Goodbye
                            div(class='card__label__artist') Macklemore
            //- Song Template
            h2 Song Template:
            br
            section(class='song-wrapper')
                section(class='song-header')
                    div(class='song-image' style='background-image: url(https://i1.sndcdn.com/avatars-000529385298-usv0jg-t500x500.jpg)')
                    div(class='song-info')
                        div(class='song-name') Good Old Days (feat. Kesha)
                        div(class='artist-name') Macklemore
                        div(class='button-wrapper')
                            button(class='song-play-button') Play
                            button(class='song-like-button') Like
                section(class='song-comments')
                    div(class='post-comment')
                        form(class="post-comment-form" method="get" action="/search")
                            label(for="search") Write a comment: &nbsp;&nbsp;
                            input(type="text" id="comment")
                            input(type="submit" value="Post")
                    div(class='posted-comments')
                        div(class='posted-comment')
                            div(class='user-image' style='background-image: url(https://i1.sndcdn.com/avatars-000529385298-usv0jg-t500x500.jpg)')
                            div(class='user-comment')
                                div(class='user-name') Cole Hunter
                                div(class='user-comment-text') Sweet song!
                        div(class='posted-comment')
                            div(class='user-image' style='background-image: url(https://i1.sndcdn.com/avatars-000529385298-usv0jg-t500x500.jpg)')
                            div(class='user-comment')
                                div(class='user-name') Chris Cottier
                                div(class='user-comment-text') I agree!
                        div(class='posted-comment')
                            div(class='user-image' style='background-image: url(https://i1.sndcdn.com/avatars-000529385298-usv0jg-t500x500.jpg)')
                            div(class='user-comment')
                                div(class='user-name') Ben Anderson
                                div(class='user-comment-text') What Chris said
                        div(class='posted-comment')
                            div(class='user-image' style='background-image: url(https://i1.sndcdn.com/avatars-000529385298-usv0jg-t500x500.jpg)')
                            div(class='user-comment')
                                div(class='user-name') Warren Gifford
                                div(class='user-comment-text') ^ this
                        div(class='posted-comment')
                            div(class='user-image' style='background-image: url(https://i1.sndcdn.com/avatars-000529385298-usv0jg-t500x500.jpg)')
                            div(class='user-comment')
                                div(class='user-name') Cole Hunter
                                div(class='user-comment-text') Sweet song!
                        div(class='posted-comment')
                            div(class='user-image' style='background-image: url(https://i1.sndcdn.com/avatars-000529385298-usv0jg-t500x500.jpg)')
                            div(class='user-comment')
                                div(class='user-name') Chris Cottier
                                div(class='user-comment-text') I agree!
                        div(class='posted-comment')
                            div(class='user-image' style='background-image: url(https://i1.sndcdn.com/avatars-000529385298-usv0jg-t500x500.jpg)')
                            div(class='user-comment')
                                div(class='user-name') Ben Anderson
                                div(class='user-comment-text') What Chris said
                        div(class='posted-comment')
                            div(class='user-image' style='background-image: url(https://i1.sndcdn.com/avatars-000529385298-usv0jg-t500x500.jpg)')
                            div(class='user-comment')
                                div(class='user-name') Warren Gifford
                                div(class='user-comment-text') ^ this
        //- JQUERY PLAYER
        div#jquery_jplayer_1.jp-jplayer
        div#jp_container_1.jp-audio(role='application' aria-label='media player')
            div.jp-type-single
                div.jp-gui.jp-interface
                    div.jp-volume-controls
                        button.jp-mute(role='button' tabindex='0') mute
                        button.jp-volume-max(role='button' tabindex='0') max volume
                        div.jp-volume-bar
                            .jp-volume-bar-value
                    .jp-controls-holder
                        .jp-controls
                            button.jp-play(role='button' tabindex='0') play
                            button.jp-stop(role='button' tabindex='0') stop
                        .jp-progress
                            .jp-seek-bar
                                .jp-play-bar
                        .jp-current-time(role='timer' aria-label='time') &nbsp;
                        .jp-duration(role='timer' aria-label='duration') &nbsp;
                        .jp-toggles
                            button.jp-repeat(role='button' tabindex='0') repeat
            .jp-details
                .jp-title(aria-label='title')
            .jp-no-solution
                span Update Required
                |       To play the media you will need to either update your browser to a recent version or update your
                a(href='https://get.adobe.com/flashplayer/' target='_blank') Flash plugin
                | .
        include footer.pug
        //- include simple-playbar.pug



        script(src="js/modal-popup.js")

        script(type="text/javascript").
            $(document).ready(function(){
            $("#jquery_jplayer_1").jPlayer({
                ready: function () {
                $(this).jPlayer("setMedia", {
                    title: "REMIX TO IGNITION",
                    mp3: "/sample.mp3",
                });
                },
                cssSelectorAncestor: "#jp_container_1",
                swfPath: "/js",
                supplied: "mp3",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                remainingDuration: true,
                toggleDuration: true
            });
            });


        script(type="text/javascript").
            document.addEventListener("DOMContentLoaded", () => {

                const observer = new MutationObserver(()=> {
                    console.log('change')
                    let playSongs= document.querySelectorAll('.playSong')

                    playSongs.forEach(song=>{
                        song.addEventListener('click', ()=> {
                            const songUrl= event.target.id;
                            const songTitle= event.target.title;
                            console.log(songTitle, songUrl);
                            $("#jquery_jplayer_1").jPlayer('destroy');
                            $("#jquery_jplayer_1").jPlayer({
                                ready: function () {
                                $(this).jPlayer("setMedia", {
                                    title: songTitle,
                                    mp3: songUrl,
                                });
                                },
                                cssSelectorAncestor: "#jp_container_1",
                                swfPath: "/js",
                                supplied: "mp3",
                                useStateClassSkin: true,
                                autoBlur: false,
                                smoothPlayBar: true,
                                keyEnabled: true,
                                remainingDuration: true,
                                toggleDuration: true,
                                autoPlay:true
                            });

                        })
                    })

                })

                const content = document.getElementById('page-specific-content');
                observer.observe(content, {childList: true})

            });
