extends layout
block head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    style
        include ../../styles/navbar.css
        include ../../styles/global.css
        include ../../styles/modal-popup.css
        include ../../styles/simple-playbar.css
        include ../../styles/song-card.css
