extends head
block playbar
    div(class="playbar")
        div(class="playbar__elements")
            div(class="playbar__buttons")
                button(class="previous-button") Previous
                button(class="play-button") Play
                button(class="next-button") Next
                button(class="shuffle-button") Shuffle
                button(class="repeat-button") Repeat
            div(class="playbar__timeline")
                div(class="timeline") Timeline
                div(class="volume") VOL
            div(class="playbar__soundBadge")
                div(class="artist") Ariana Grande
                div(class="track") Ariana Grande, Justin Bieber - Stuck with U
                button(class="like-button") Like
