* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /* font-family: sans-serif; */
  font-family: "Nunito", sans-serif;
  /* font-weight: normal; */
  outline: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}

main {
  padding-top: 75px;
  margin: 0 75px;
}

footer {
  position: relative;
  bottom: 50px;
  background-image: linear-gradient(to top, black, rgb(54, 54, 54));
  padding: 75px;
  margin-top: 75px;
  color: var(--white);
  font-size: 15px;
  z-index: -1;
}

footer a {
  color: rgb(170, 170, 170);
  text-decoration: underline;
}

.ajax-link:hover {
  cursor: pointer;
}

.playSong {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playSong:hover {
  -moz-box-shadow: 0 0 10px #ef5a23;
  -webkit-box-shadow: 0 0 10px #ef5a23;
  box-shadow: 0 0 10px #ef5a23;
  opacity: 0.5;
}

.playsong_playButton {
  visibility: hidden;
}

.playSong:hover .playsong_playButton {
  visibility: visible;
  border-radius: 90%;
}

#audio-player {
  min-width: 400px;
  height: auto;
  object-fit: inherit;
}

.splashContainer {
  height: 100vh;
}
.splashBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* The image used */
  background-image: url("images/vinyl.jpg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.noiseWave {
  color: white;
  font-family: "Monoton", cursive;
  font-size: 120px;
  position: absolute;
  top: 25%;
}
