/* FOR TESTING PURPOSES; DELETE ONCE NO LONGER NEEDED */
body {
  /* margin-top: 50px; */
  /* height: 2000px; */
}

main {
  height: 1000px;
}
/* FOR TESTING PURPOSES; DELETE ONCE NO LONGER NEEDED */

footer {
  margin-top: 150px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
}

main {
  padding-top: 75px;
  margin: 0 75px;
}

nav {
  margin-bottom: 75px;
}

footer {
  padding: 75px;
  /* margin-bottom: 50px; */
  /* background-color: rgb(185, 185, 185); */
}

.ajax-link:hover {
  cursor: pointer;
}

.playSong:hover {
  -moz-box-shadow: 0 0 10px #ef5a23;
  -webkit-box-shadow: 0 0 10px #ef5a23;
  box-shadow: 0 0 10px #ef5a23;
  opacity: 0.5;
}
