/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --lightgray: #efefef;
  --blue: rgb(46, 46, 46);
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to top, black, rgb(54, 54, 54));
  border-bottom: 1px solid rgb(56, 56, 56);
  margin-left: 0;
  position: relative;
  /* height: 60px; */
}

.navbar a,
.open-modal {
  background: var(--blue);
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
}

.navbar a.dropdown-link {
  border: 1px solid rgb(26, 26, 26);
}

.link-container a {
  width: 150px;
  display: block;
  box-sizing: border-box;
  text-align: center;
}

.navbar a:not(.logo-link):not(.dropdown-link),
.open-modal {
  border: 1px solid rgba(255, 255, 255, 0.274);
  padding: 0.55rem;
  margin-left: 2rem;
  border-radius: 50px;
  width: 150px;
}

.navbar a:hover,
.open-modal:hover {
  background-color: rgba(255, 255, 255, 0.274);
}

.navbar__col {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  margin-right: 2rem;
}

.logo {
  background-image: url(../images/header-logo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  height: 60px;
  width: 90px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* .logout {
  width: 150px;
  height: 50px;
} */

/* Searchbar */

.tb {
  display: table;
  /* width: 100%; */
}

.td {
  display: table-cell;
  vertical-align: middle;
}

#cover input,
#cover button {
  color: white;
  /* color: #fff; */
  /* font-family: Nunito; */
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover button span {
  /* display: none; */
  /* padding: 0;
  margin: 0; */
  /* font-size: 0px; */
  /* line-height: 1em; */
  /* position: absolute; */
  /* display: block; */

  top: 18px;
  left: 45%;
  padding: 0.3rem;
  /* text-align: center; */
  /* left: 18px; */
}

form#searchbar {
  /* box-sizing: border-box;
  height: 50px; */
  /* display: block; */
  /* text-align: center; */
  /* padding: .20rem; */
  background: var(--blue);
  color: var(--white);
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.274);
  /* height: 50px; */
  /* margin-left: 2rem; */
  border-radius: 50px;

  min-width: 400px;
  /* position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 350px;
  margin: -83px auto 0 auto; */
  /* padding: .55rem;
  background-color: #ff7575;
  border-radius: 20px; */
  /* box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb; */
  /* box-shadow: 0 5px 20px #ff7c7c, 0 0 0 10px #ffffffeb; */
  /* border: 1px solid rgba(255, 255, 255, 0.274); */
  /* transform: scale(0.6); */
  outline: none;
}

input[type="search"] {
  text-align: center;
  width: 100%;
  font-size: 14px;
  /* height: 96px; */
  /* font-size: 18px; */
  /* line-height: 1; */
}

input[type="search"]::placeholder {
  /* color: #e16868; */
  color: rgb(185, 185, 185);
  text-align: center;
  font-size: 14px;
}

.td button {
  /* position: relative;
    display: block; */
  /* width: 84px;
    height: 96px; */
  /* width: 42px;
    height: 48px; */
  cursor: pointer;
}

/*

.td button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.td button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

 */

form#searchbar {
  margin-left: 2rem;
}

/* Drop Down Menu */

.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.dropbtn span {
  margin: 0 5px;
  font-size: 15px;
  /* padding: 0 14px; */
}
.navbar a:hover,
.dropdown:hover .dropbtn,
.dropdown-content a:hover {
  /* background-color: rgb(155, 24, 24); */
}

.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  background: var(--blue);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-link:last-child {
  color: rgb(230, 153, 11);
  /* color: rgb(39, 39, 39); */
}

/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

.errors {
  background-color: lightpink;
  border: 1px solid red;
  color: red;
  padding: 5px 5px;
  margin-bottom: 10px;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="zoomInOut"].is-visible .modal-dialog {
  transform: none;
}

/* @media all and (max-width: 800px) {
  nav {
    height: 40px;
  }
  .navbar a {
      padding: 15px;
  }
}

@media all and (max-width: 600px) {
  nav {
    height: 20px;
  }

  #searchbar {
    display: none;
  }

  .navbar a, .navbar label {
      padding: 5px;
      font-size: 12px;
  }

  .navbar label {
    font-size: 12px;
  }

  .logo {
    height: 23px;
  }
} */
