.searchHeader {
  font-family: "Monoton", cursive;
  font-size: 120px;
  text-align: center;
}

.matchingUsers {
  display: flex;
  flex-direction: column;
}

.searchUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Monoton", cursive;
  border: 20px solid black;
}

.searchUser_pic {
  height: 400px;
  width: 800px;
}

.searchUser_username {
  font-family: "Monoton", cursive;
  font-size: 80px;
  justify-self: center;
  /* overflow: hidden;
  width: 1000px;
  white-space: pre; */
}

.matchingSongs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.searchSong {
  height: 200px;
  width: 400px;
  border: 10px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.searchSong_pic {
  grid-area: 1 / 1 / span 2 / span 1;
  height: 200px;
  width: 200px;
}

.searchSong_details {
  font-size: 20px;
  text-align: center;
  background-color: #ff6a00;
  color: #00f2e7;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}

.searchSong_artist {
  font-style: italic;
  /* color: gray; */
}

.searchUser_username.tooLong {
  font-size: 50px;
}
