/* Song Cards */

.songCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

section.songCard__section {
  margin-bottom: 100px;
}

.songCard__section header {
  margin-bottom: 20px;
}

.songCard__section .card {
  width: 150px;
  line-height: 1.15em;
}

.songCard__section .card__image {
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    height: 150px;
    margin-top: 7px;
}

.songCard__section .card__label {
  margin-top: 7px;
}

.songCard__section .card__label__title,
.songCard__section .card__label__artist {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.songCard__section .card__label__album {
  font-size: 14px;
  color: rgb(31, 31, 31);
}

.songCard__section .card__label__artist {
  font-size: 12px;
  color: rgb(126, 126, 126);
}
