#song-content {
    width: 80%;
    margin: 0 auto;
}

#song-link {
    display:none;
}

#song-overview {
    padding: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:    "img description button" ;
    background-color: #444;
}

#song-description {
    grid-area: description;
}

#song-img {
    grid-area: img
}

#song-img img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

#play-song {
    grid-area: button;
}

#play-song > img {
    height: 200px;
    width: 200px
}