.userPage__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 75px;
}

.userPage__header {
    border: 5px ridge rgb(201, 201, 201);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(59, 59, 59);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin-bottom: 50px;
    width: 100%;
    /* height: 100%; */
}

.userProfileImage__container {
    height: 200px;
}

.userProfileImage {
    height: inherit;
    box-sizing: border-box;
}

.ajax-link {
    /* text-decoration: underline; */
    /* color: rgb(112, 15, 15); */
}

.userName__label {
    font-size: 50px;
    overflow: hidden;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-left: 30px;
}

.upload__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.upload {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    border-bottom: 2px solid rgb(224, 224, 218);
    padding: 15px 15px;
    /* width: 100%; */
}

.upload__userImage {
    /* width: 150px; */
    /* height: 100%; */
    height: 100%;
    box-sizing: border-box;
}

.userPage_waveform__wrapper {
    width: 100%;
}
.userPage_waveform {
    width: 100%;
}

.uploadInfo__container span {
    font-size: 14px;
    /* color: rgb(122, 117, 71); */
    font-weight: bold;
    color: black;
    /* text-shadow: 1px 1px black; */
    margin: 0 2px;
}

.uploadInfo__container {
    margin: 1px 0;
}

.uploadInfo__container__wrapper {
    margin: 30px 0;
    height: inherit;
    padding: 0 30px;
    width: 50%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: stretch; */
    /* align-self: flex-start; */
}


/* User Page Header */
.userPage__header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 75px;
}

.userPage__header {
    border: 5px ridge rgb(201, 201, 201);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(59, 59, 59);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin-bottom: 50px;
    width: 100%;
}

.headerColumn__container-1 {
    height: 200px;
}

.profileImage {
    height: inherit;
}

.headerColumn__container-2 {
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px black ;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
}

.artistName {
    font-size: 20px;
}

/* user Page Main */

.userPage__main {
    width: 100%;
    /* border: 2px ridge rgb(201, 201, 201); */
}

section.user-uploads {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 20px;
    background-color: rgb(238, 238, 238);
}

.uploads {
    display: flex;
    flex-flow: column nowrap;
}

.posted-upload {
    display: flex;
    flex-flow: row nowrap;
    background-color: aliceblue;
    margin: 10px;
    border: 1px solid rgb(218, 218, 218);
}

.posted-upload .user-image {
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    height: 55px;
    width: 55px;
    margin-right: 10px;
}

.uploads .user-upload {
    padding: 8px;
    font-size: 15px;
}

.uploads .user-name {
    color: rgb(126, 126, 126);
    font-size: 13px;
}
