.userPage__header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 75px;
}

.userPage__header {
    border: 5px ridge rgb(201, 201, 201);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(59, 59, 59);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin-bottom: 50px;
    width: 100%;
}

.userProfileImage {
    height: inherit;
}

.headerColumn__container-1 {
    height: 200px;
}

.headerColumn__container-2 {
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px black ;
}

/* .headerColumn__container-1 {
    height: 200px;
}

.headerColumn__container-2, .headerColumn__container-3 {
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px black ;
}

.headerColumn__container-2 {
    display: flex;
    flex-direction: row wrap;
    align-items:
} */

.userPage__main {
    /* width: 100%; */
}

.upload__container {
    display: flex;
    flex-direction: column;
}

.upload {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: space-between;
    align-items: center; */
    /* align-content: center;
    align-items: center; */
    /* width: 100%; */
    /* align-items: center; */
    border-bottom: 1px solid rgb(161, 161, 161);
}

.upload__userImage {
    width: 75px;
    height: 75px;
}

.userPage_waveform {
    height: 75px;
}

.uploadInfo__container__wrapper {
        display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* User Page Header */
.userPage__header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 75px;
}

.userPage__header {
    border: 5px ridge rgb(201, 201, 201);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(59, 59, 59);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin-bottom: 50px;
    width: 100%;
}

.headerColumn__container-1 {
    height: 200px;
}

.profileImage {
    height: inherit;
}

.headerColumn__container-2 {
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px black ;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
}

.artistName {
    font-size: 20px;
}

/* user Page Main */

.userPage__main {
    width: 100%;
    border: 2px ridge rgb(201, 201, 201);
}

section.user-uploads {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 20px;
    background-color: rgb(238, 238, 238);
}

.uploads {
    display: flex;
    flex-flow: column nowrap;
}

.posted-upload {
    display: flex;
    flex-flow: row nowrap;
    background-color: aliceblue;
    margin: 10px;
    border: 1px solid rgb(218, 218, 218);
}

.posted-upload .user-image {
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    height: 55px;
    width: 55px;
    margin-right: 10px;
}

.uploads .user-upload {
    padding: 8px;
    font-size: 15px;
}

.uploads .user-name {
    color: rgb(126, 126, 126);
    font-size: 13px;
}
