.userPage {
  display: grid;
  grid-template-rows: 400px, 100px, auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* .userHeader {
  margin: auto;
  position: relative;
  left: 500px;
  grid-area: 1/1 / span 1 / span 1;
} */

.userPage_name {
  font-family: "Monoton", cursive;
  font-size: 70px;
  /* position: absolute; */
  grid-area: 1 / 2 / span 1 / span 2;
  color: white;
}

.userPage_profilePic {
  margin-top: 50px;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  grid-area: 1 / 1 / span 1 / span 1;
}

.userPage_banner {
  height: 400px;
  width: 100%;
  grid-area: 1 / 1 / 1 / span 4;
}

.userUploads {
  grid-area: 2 / 1 / span 1 / span 4;
  text-align: center;
  font-size: 50px;
}

.userPage_song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.editUser {
  grid-area: 2 / 4 / span 1 / span 1;
  text-align: right;
}

.userPage_buttons {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
